name: gcloud-deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id: deploy
      uses: google-github-actions/deploy-appengine@v0.8.2
      with:
        credentials: ${{ secrets.GCLOUD_SECRET }}
        project_id: "xye-bot"
        version: github
