name: gcloud-deploy
on:
  push:
    branches:
      - master
      - use-one-datastore
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id: deploy
      uses: google-github-actions/deploy-appengine@main
      with:
        credentials: ${{ secrets.GCLOUD_SECRET }}
        project_id: "xye-bot"
        version: use-one-datastore
        promote: false
